/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content {
    position: relative;
    border: 10px solid #b49a78;
    margin: 20px;
    min-height: 300px;
}

#background {
    max-width: 100%;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #b49a78 url(../../img/layout/loader-frame.gif) no-repeat center center;
    z-index: 11;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.clickArea {
    cursor: pointer;
}

.frame {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    -ms-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
}

    .frame img {
        max-width: 100%;
        max-height: 100%;
    }

.frame .loader {
    display: none;
    opacity: 0;
    background: transparent url(../../img/layout/loader-frame.gif) no-repeat center center;
}

.frame.loading .loader{
    display: block;
    opacity: .9;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.frame[data-frame="1"] {
    z-index: 10;
}

.frame[data-frame="2"] {
    z-index: 9;
}

.frame[data-frame="3"] {
    z-index: 6;
}

.frame[data-frame="4"] {
    z-index: 7;
}

.frame[data-frame="5"] {
    z-index: 8;
}

.toolbar {
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: 60;
    margin-left: -200px;
    height: 100px;
}

.toolbar nav {
    background: #fff;
}

.toolbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
}

.toolbar ul li {
    float: left;
    margin: 10px 5px;
}

.toolbar .btn {
    border: 0;
    background: transparent no-repeat;
    width: 40px;
    height: 40px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.toolbar .btn.disabled, .toolbar .btn.disabled:hover, .toolbar .btn.disabled:active {
    opacity: 0.1;
    top: 0;
    cursor: default;
}

.toolbar .btn:hover {
    opacity: 0.7;
}

.toolbar .btn:active {
    position: relative;
    top: 1px;
}

.toolbar .logo .title {
    margin: 0;
    padding: 0;
}

.toolbar .logo, .toolbar .logo .btn {
    width: 90px;
    height: 40px;
    margin: 0 0 0 0;
    padding: 0;
    opacity: 1;
}

.toolbar .logo {
    margin-top: 10px;
}

.toolbar .logo a {
    background: transparent url(../../img/layout/logo.png) no-repeat;
    display: block;
}

.toolbar [data-person="bruno"] {
    background-image: url(../../img/layout/bruno.png);
}

.toolbar [data-person="jan"] {
    background-image: url(../../img/layout/jan.png);
}

.toolbar [data-person="leihla"] {
    background-image: url(../../img/layout/leihla.png);
}

.toolbar [data-person="leo"] {
    background-image: url(../../img/layout/leo.png);
}

.toolbar [data-person="ricardo"] {
    background-image: url(../../img/layout/ricardo.png);
}

.toolbar #shuffle {
    background-image: url(../../img/layout/dice.png);
}

.toolbar .share {
    text-align: center;
}

.toolbar .share li {
    margin: 0;
    float: none;
    display: inline-block;
}

.toolbar .share .facebook {
    background: transparent url(../../img/layout/share_white.png) no-repeat;
    width: 90px;
    height: 36px;
}

.toolbar .share .twitter {
    background: transparent url(../../img/layout/tweet_white.png) no-repeat;
    width: 130px;
    height: 36px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 720px) {
    .frame.loading .loader {
        background-size: 10px auto;
    }
}

@media only screen and (max-width: 699px) {
    body {
        margin: 10px 0;
    }

    .toolbar .logo {
        width: 100%;
    }

    .toolbar .logo .btn {
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .toolbar {
        position: static;
        width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .toolbar ul {
        margin: 0;
    }

    .toolbar ul li {
        margin: 10px 4px;
    }

    .toolbar ul li:nth-child(2) {
        margin-left: 10px;
    }

    .toolbar .ir, .toolbar ul li {
        display: inline;
        float: none;
    }

    #content .content {
        position: relative;
        padding: 0;
        border: 10px solid #b49a78;
        background: #b49a78;
        margin: 0 10px;
        min-height: 180px;
    }

    #content {
        position: relative;
        padding: 0;
        background: transparent;
        margin: 0;
        border: none;
    }

    .toolbar .share .facebook {
        background-image: url(../../img/layout/share.png);
    }

    .toolbar .share .twitter {
        background-image: url(../../img/layout/tweet.png);
    }
}

@media only screen and (min-width: 411px) and (max-width: 699px) {
    .toolbar .logo {
        width: auto;
    }
    .toolbar .logo .btn {
        margin: 0;
        float: left;
    }

    .toolbar {
        width: 390px;
        padding: 0;
        margin: 10px auto 0 auto;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .loader {
        background-image: url(../../img/layout/loader-frame@2x.gif);
        background-size: 32px auto;
    }

    .frame.loading .loader {
        background-image: url(../../img/layout/loader-frame@2x.gif);
        background-size: auto 10px;
    }

    .toolbar .btn {
        background-size: auto 40px;
    }

    .toolbar .logo a {
        background-image: url(../../img/layout/logo@2x.png);
    }

    .toolbar [data-person="bruno"] {
        background-image: url(../../img/layout/bruno@2x.png);
    }

    .toolbar [data-person="jan"] {
        background-image: url(../../img/layout/jan@2x.png);
    }

    .toolbar [data-person="leihla"] {
        background-image: url(../../img/layout/leihla@2x.png);
    }

    .toolbar [data-person="leo"] {
        background-image: url(../../img/layout/leo@2x.png);
    }

    .toolbar [data-person="ricardo"] {
        background-image: url(../../img/layout/ricardo@2x.png);
    }

    .toolbar #shuffle {
        background-image: url(../../img/layout/dice@2x.png);
    }

    .toolbar .share .facebook {
        background-image: url(../../img/layout/share_white@2x.png);
        background-size: 90px auto;
    }

    .toolbar .share .twitter {
        background-image: url(../../img/layout/tweet_white@2x.png);
        background-size: 130px auto;
    }
}

@media (max-width:699px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .toolbar .share .facebook {
        background-image: url(../../img/layout/share@2x.png);
    }

    .toolbar .share .twitter {
        background-image: url(../../img/layout/tweet@2x.png);
    }
}